// COLORS
$c-silver-dark: #898F8F;
$c-black-light: #666666;
$c-black-dark: #333333;
$c-silver: #CCCCCC;
$c-yellow: #FFCC00;
$c-orange: orange;
$c-black: black;
$c-white: white;

// Fonts
$f-open-sans: 'Open Sans', sans-serif;
$f-raleway: 'Raleway', sans-serif;
$f-roboto: 'Roboto', sans-serif;


// Font size
$fs-ion-icon: 20;
$fs-arrow: 26;
$fs-base: 14;
$fs-h1: 60;
$fs-h2: 36;
$fs-h3: 24;
$fs-h4: 18;

// Line height
$lh-soc-icon: 14;
$lh-base: 24;
$lh-h1: 66;
$lh-h3: 36;

// Letter spacing
$ls-base: 0.4;

// Transition
$t-normal: .35s cubic-bezier(.4,0,.2,1);