mixin footer()
  .c-footer.wrapper
    .c-footer__wrapper.d-flex.justify-content-center
      input(hidden type="radio" name="choise" id="choise1").c-footer__input
      label(for="choise1").c-footer__label
      input(hidden type="radio" name="choise" id="choise2").c-footer__input
      label(for="choise2").c-footer__label
      input(hidden type="radio" name="choise" id="choise3").c-footer__input
      label(for="choise3").c-footer__label
      