mixin header()
  header.c-header.wrapper
    .c-header__wrapper.text-center
      h4.c-header__suptitle THE GENIUSES BEHIND OUR WORK
      h1.c-header__main-title OUR TEAM
      .c-header__devider.d-flex.justify-content-center.align-items-center
        .c-header__devider__line
        ion-icon(name="bonfire-outline").c-header__devider__bonfire
        .c-header__devider__line