mixin resume()
  .c-resume.wrapper
    .c-resume__wrapper.d-flex
      .c-resume__left-arrow.d-flex.align-items-center
        a(href="#").c-resume__left-arrow__icon 
          i.fas.fa-chevron-left
      .c-resume__left 
        .c-resume__left__wrapper.position-relative
          .c-resume__left__foto.position-relative
            img(src="./assets/images/foto.png", alt="foto")
      .c-resume__middle
      .c-resume__right
        .c-resume__right__wrapper
          h2.c-resume__right__name Sahariar Kabir
          h3.c-resume__right__position Frontend Developer
          .c-resume__right__links
            +link({href:"https://facebook.com", icon: "fa-facebook-f", target: "_blank"})
            +link({href:"https://twitter.com/?lang=ru", icon: "fa-twitter", target: "_blank"})
            +link({href:"https://www.google.com/", icon: "fa-google-plus-g", target: "_blank"})
            +link({href:"https://ru.linkedin.com/", icon: "fa-linkedin-in", target: "_blank"})
          p.c-resume__right__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
          +button(args)
      .c-resume__right-arrow.d-flex.align-items-center
        a(href="#").c-resume__right-arrow__icon
         i.fas.fa-chevron-right