.e-btn {
  border: 1px solid $c-yellow;
  padding: 0 11px;
  background-color: white;

  
  &__text {
    line-height: $lh-base + px;
    font-family: $f-open-sans;
    font-size: $fs-base + px;
    color: $c-black-light;
    font-weight: bold;
  }

  &:hover {
    background-color: $c-silver;
  }
}